{% extends "default.twig" %}

{% block jumbotron %}
    <header class="jumbotron cyberbit">
        <div class="container text-center">
            <img class="img-responsive center-block" src="{{ baseUrl }}/img/iconbellingerglitched.png">
            <h1>{{ author }}</h1>
            <p class="tagline">{{ tagline }}</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1 class="section-header"><a id="about" class="anchor"></a>About</h1>
    <section class="about">
        <div class="container lead">
            {{ content|raw }}
        </div>
    </section>
    {% include "sections.twig" %}
    <footer>
        <div class="container text-center">
            Made with <i class="fa fa-heart text-danger"></i> by <a href="{{ authorLink }}">{{ author }}</a>.
        </div>
    </footer>
{% endblock %}