<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>{{ author }} - {{ tagline }}</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="{{ baseUrl }}/css/normalize.css" media="screen" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat+Alternates:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ baseUrl }}/css/github-light.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/css/bootstrap.custom.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body data-spy="scroll" data-target=".navbar-fixed-top">
        {% block navbar %}
            <nav class="navbar navbar-cyberbit navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">
                            <img src="{{ baseUrl }}/img/iconbellinger.png">
                        </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
                            <i class="fa fa-bars fa-fw fa-lg"></i>
                        </button>
                    </div>
                    <div id="nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden"><a href="#page-top"></a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#socials">Social</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block jumbotron %}{% endblock %}
        {% block content %}
            <div class="container">
                {{ content|raw }}
            </div>
        {% endblock %}
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/inc.js"></script>
    </body>
</html>