<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>{{ author }} - {{ tagline }}</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="{{ baseUrl }}/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat+Alternates:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ baseUrl }}/stylesheets/github-light.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/stylesheets/bootstrap.custom.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block jumbotron %}{% endblock %}
        {% block content %}
            <div class="container">
                {{ content|raw }}
            </div>
        {% endblock %}
    </body>
</html>