<h2 class="heading">Portfolio</h2>
<ul class="portfolio-list">
    {% for projectId, project in projects %}
        <li>
            <a href="{{ project.url }}">
                <div class="caption">
                    {{ projectId }}: {{ project.title }} @
                </div>
                <img class="img-responsive" src="{{ baseUrl }}/{{ project.image }}" />
            </a>
        </li>
    {% endfor %}
</ul>