{% for sectionId, section in sections %}
    <h1 class="section-header">
        <a id="{{ sectionId }}" class="anchor"></a>
        {{ section.title }}
    </h1>
    <section class="{{ sectionId }}">
        <ul class="media-list">
            {% for itemId, item in section.items %}
                <li class="media {{ itemId }}">
                    <div class="center-block limit-width hand">
                        <div class="visible-xs-block">
                            <img class="item-img center-block" src="{{ baseUrl }}/img/{{ itemId }}.png" />
                        </div>
                        {% if loop.index % 2 %}
                            <div class="media-left media-middle hidden-xs">
                                <img class="item-img media-object" src="{{ baseUrl }}/img/{{ itemId }}.png" />
                            </div>
                        {% endif %} 
                        <div class="media-body media-middle {{ not loop.index % 2 ? "text-right" }}">
                            <h1 class="media-heading">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </h1>
                        </div>
                        {% if not loop.index % 2 %}
                            <div class="media-right media-middle hidden-xs">
                                <img class="item-img media-object" src="{{ baseUrl }}/img/{{ itemId }}.png" />
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endfor %}